---
---

ol.preprint li::marker {
  content: "[p" counter(list-item) "]. ";
  font-weight: bold;
}

ol.domestic_conf li::marker {
  content: "[o" counter(list-item) "]. ";
  font-weight: bold;
}

ol.international_conf li::marker {
  content: "[c" counter(list-item) "]. ";
  font-weight: bold;
}

ol.thesis li::marker {
  content: "[t" counter(list-item) "]. ";
  font-weight: bold;
}