---
---

ol.preprint li::marker {
  content: "P" counter(list-item) ". ";
}

ol.domestic_conf li::marker {
  content: "O" counter(list-item) ". ";
}

ol.international_conf li::marker {
  content: "C" counter(list-item) ". ";
}